<div class="banner" >
  <div class="container">
    <h2>Descubre los mejores destinos a tu ciudad favorita!</h2>
    <%= link_to "Escoge tu destino", new_booking_path, class: 'btn btn-danger' %>
  </div>
</div>
