.offer-banner {
    background-size: cover;
    color: #eee;
    text-align: center;
    padding: 90px 0;
    height: 482px;
    padding-bottom: 5px;
}

.offer-text{
    padding: 0;
    margin: 0;
}

.offer-show-title{
    font-size: 1.25rem;
    font-weight: 700;
}