.banner-rate {
    background-size: cover;
    background-position: center;
    padding: 235px 0;
}

.container-rate{
    align-items: center;
}

.baggage {
  width: 350px;
}

.baggage img{
    width: 450px;
}