<div class="container my-2">
<h2>Lista de Bookings</h2>

<% @bookings.each do |booky| %>
<ul class="list-group list-group-flush">
<li class="list-group-item"><%= booky.user.name %></li>
<li class="list-group-item"><%= booky.rate.name %></li>
<li class="list-group-item"><%= booky.offer.cost %></li>
<li class="list-group-item"><%= booky.date %></li>
</ul>

<% end %>
</div>
