<%= render 'components/banner' %>

<div class="container mt-3">
  <div class="cards">
    <div class="card">
    hola
    </div>
    <div class="card">
    hola
    </div>
    <div class="card">
    hola
    </div>
    <div class="card">
    hola
    </div>
  </div>
</div>
