<%= render 'components/banner' %>
<div class="container mt-3">
  <div class="card-info">
    <button class="btn">Destinos nacionales</button> |
    <button class="btn">Destinos internacionales</button>
  </div>
    <div class="cards">
      <% @states.each do |state| %>
        <a href="#">
          <div class="card">
            <%= image_tag('panama.jpg') %>
            <h2 class="card-text"><%= state.name %></h2>
          </div>
        </a>
      <% end %>
    </div>
</div>
