<div class="banner-rate" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1596395819057-e37f55a8516b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
  <div class="container-rate">
  </div>
</div>
<div class="container-rate">
<div class="baggage">
    <%= image_tag "BeneficiosTexto.png", alt: "Beneficios" %>
    <h3>You choose how to fly!</h3>
    <p>Learn about the benefits of each of our rates</p>
</div>
</div>


