.navbar-lewagon {
  justify-content: space-between;
  // background: blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.nav-item{
  padding-right: 30px;
}

.navbar-home{
	position: fixed;
  width: 100%;
	top: 0;
  z-index: 1;
  background-color: #343a40b8 !important;
}
