<div class="banner-rate" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1561131668-f63504fc549d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=857&q=80);">
  <div class="container-rate">
  </div>
</div>
<div class="container-rate">
  <div class="baggage">
      <%= image_tag "BeneficiosTexto.png", alt: "Beneficios" %>
      <h2>You choose how to fly!</h2>
      <p>Learn about the benefits of each of our rates</p>
  </div>
</div>
<div class="rate-cards">
    
  <div class="card-category">
    <%= image_tag "rate-medium.png", alt: "Tarifa Medium" %>
  </div>

  <div class="card-category">
    <%= image_tag "rate-ultra.png", alt: "Tarifa Ultra" %>
  </div>

  <div class="card-category">
    <%= image_tag "businness-rate.png", alt: "Tarifa Bussiness" %>
  </div>
</div>

<div class="cards-info">
  <div class="info-card">
    <div class="icon-info">
      <i class="fas fa-shopping-bag"></i>
    </div>
    <div class="text-info">
      <h6>Hand Baggage</h6>
      <p>1 Changes, 8 Kg</p>
    </div>
  </div>

  <div class="info-card">
  </div>
  <div class="info-card">
  </div>
</div>


